<% provide(:title, 'Contact')%>

    <h1>Contact</h1>
    <p>
      Contact the developer of this web page if you want to go home -- just click your
      heels three times and say <a href="mailto:wizard@oz.com">I wish I were home!</a> 
      three times fast. See you soon!
 </p>
 