<% provide(:title, 'Home')%>
<div class="center hero-unit">
  <h1>I love you, Lindsay</h1>

  <h2>
    Hey Linds. I know we haven't been talking as much as we like to.<br>
    That's okay, because I know what we have is deeper than words. It comes and goes, for sure, like most things in life.
    But the magical thing about us, from my view, is that it always comes back. (fingers crossed :) ). <br><br>
    
    Take this picture below. The reality of it, not our greatest moment. But we look pretty damn good for being fucked up at 4am on the Saturday before graduation.
    
    <br>
    But you know what? Not even a week later, <b>we were back.</b> 
    
    <br><br>
    
    And in a few short hours? We'll be back again.
    <br>
    
    I love you, Lindsay. You're perfect, and I'm incredibly lucky to be here to come along for the ride.
    
    <br><br><br><br>
    Yours,
    <br>
    Adam 
    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<center><%= link_to image_tag("linds.jpg", alt: "Rails"), 'http://rubyonrails.org/' %></center>